
.mainpage__container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    background: linear-gradient(135deg, #71b7e6, #c04444);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage__map {
    display: flex;
    justify-content: center;
}

.mainpage__form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mainpage__form form .event__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}



form .event__details .input__box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input__box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.event__details .input__box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.event__details .input__box input:focus,
.event__details .input__box input:valid {
    border-color: #c04444;
}

