/* .container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
} */

.register__container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.register__container .register__title {
    font-size: 25px;
    font-weight: 500;
    position: relative;

}

.register__container .register__title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, #71b7e6, #c01f1f );
}

.content form .register__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .register__details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.register__details .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.register__details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.register__details .input-box input:focus,
.register__details .input-box input:valid  {
    border-color: #c01f1f;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #c01f1f);
 
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #c01f1f);
}

@media(max-width: 584px){
    .container{
     max-width: 100%;
   }
   form .register__details .input-box{
       margin-bottom: 15px;
       width: 100%;
     }
     form .select-box{
       width: 100%;
     }
     .content form .register__details{
       max-height: 300px;
       overflow-y: scroll;
     }
     .register__details::-webkit-scrollbar{
       width: 5px;
     }
     }
     @media(max-width: 459px){
     .container .content .select-box{
       flex-direction: column;
     }
   }